<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
  </head>
  <body>
    <h1>Jovian Careers</h1>
    <img src="https://08fc5f0a-44a3-4026-ac72-08d157e0e9e7-00-cgg74x7150w9.sisko.replit.dev/static/banner.jpg" width="500" height="200">
    <h2>About Jovian</h2>
    <p>
      Welcome to Jovian, your ultimate destination for finding the perfect job. Whether you’re a recent graduate, an experienced professional, or someone looking to make a career change, our platform is designed to streamline your job search and connect you with opportunities that match your skills and aspirations
    </p>
    <h2>Open Positions</h2>
    <p>Show the Jobs here</p>
    <button>Contact Us</button>
  </body>
</html>